
   <div>
    <img src="/images/chiron-skyline1.png"  class="img-fluid">
   </div>
<div class="py-5"></div>
<div class="card bg-light text-center mb-3 mx-5">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <div class="mask"></div>
    </a>
  </div>
  <div>
  </div>
  <div class="card-body">
    <h4 class="text-uppercase"> Trust a Compassionate Doctor</h4>
    <p>
     <span>Welcome to Chiron, this is your public private practice. You deserve the best medical care available. As your physician and medical team in Charlotte, North Carolina, we'll do our best to quickly diagnose and treat any problems you may have—keeping you and your family healthy in any stage in life. We have the training, capabilities and expertise to handle most all of your medical needs. We care for newborns to seniors and look forward to seeing you.
     </span> 
    </p>
    <p class="card-text"></p>
  </div>
</div>

<div class="py-5"></div>
<div class="card bg-light text-center mb-3 mx-5">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <div class="mask"></div>
    </a>
  </div>
  <div class="card-body">
    <h4 class="text-uppercase"> Count on us for skilled and compassionate care.</h4>
    <p>
     <span>
       Click below to set an appointment
     </span> 
    </p>
    <p class="card-text"></p>
  </div>
</div>




