<div>
  <img src="/images/chiron-skyline1.png" class="img-fluid">
</div>
<div class="py-5"></div>
<div class="card bg-light text-center mb-3 mx-5">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <div class="mask"></div>
    </a>
  </div>
  <div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 mt-4">
        <h4 class="fs-2 text-uppercase mt-5 text-warning"> Trust a Compassionate Doctor</h4>
        <p class="mx-5 lead">
          Welcome to Chiron, we are a private practice dedicated to serving our patients with the highest quality care.
          You deserve the best medical care available. As your physicians
          and medical team in <strong>Charlotte, North Carolina</strong>, we'll do our best to quickly diagnose and provide you with the <strong class="text-info">best health care coverage</strong> tailored to you. We aim to keep you and your family healthy throughout all <em>stages of life</em>. We have the training, capabilities
          and expertise to handle most of your medical needs.
        </p>
        <h4 class="fs-2 text-uppercase mt-5 text-warning"> Highest Grade Medical Equipment</h4>
        <p class="mx-5 lead mb-5">
          Our facilities were recently renovated with state of the art equipment, to provide you with the highest quality care.
        </p>

      </div>
      <div class="col-md-3">
        <img alt="Bootstrap Image Preview" class="img-fluid"
          src="https://gravatar.com/avatar/5b6e459f493c27f62dc6772241402f19?s=200&d=robohash&r=x" />
        <blockquote class="blockquote">
          <p class="mb-0 h-6 lead">
            "<small>Dr. Lempke is the best orthopedic surgeon in the area! He saw me in clinic and within a few days had scheduled me for surgery to replace my hip. I have never felt better!</small>"
          </p>
          <footer class="blockquote-footer mt-1">
            <cite>Duncan McCook</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>





  {{!-- <div class="py-5"></div>
  <div class="card bg-light text-center mb-3 mx-5">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <div class="mask"></div>
      </a>
    </div>

  </div>
</div> --}}