<!-- Section: Design Block -->
<section class="text-center text-lg-start register">

  <div class="passwordAlert alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please Try Again</strong> Password must be at least 8 characters long.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="generalAlert alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please Try Again</strong> Check your credentials, if you already have an account please log in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Jumbotron -->
  <div class="container py-5">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form class="signup-form ">
              <!-- first name & last name -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="first_name-signup" class="form-control" />
                    <label class="form-label" for="first_name-signup">First Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="last_name-signup" class="form-control" />
                    <label class="form-label" for="last_name-signup">Last Name</label>
                  </div>
                </div>
              </div>

              <!-- username input -->
              <div class="form-outline mb-4">
                <input type="text" id="username-signup" class="form-control" />
                <label class="form-label" for="username-signup">username</label>
              </div>


              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email-signup" class="form-control" />
                <label class="form-label" for="email-signup">Email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password-signup" class="form-control" />
                <label class="form-label" for="password-signup">Password</label>
              </div>
              <div id="secondaryQuestions">
                <div class="form-outline mb-4">
                  <input type="text" id="sex-signup" class="form-control" />
                  <label class="form-label" for="sex-signup">Sex</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="age-signup" class="form-control" />
                  <label class="form-label" for="age-signup">Age</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="race-signup" class="form-control" />
                  <label class="form-label" for="race-signup">Race</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="street_address-signup" class="form-control" />
                  <label class="form-label" for="street_address-signup">Street Address</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="city-signup" class="form-control" />
                  <label class="form-label" for="city-signup">City</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="state-signup" class="form-control" />
                  <label class="form-label" for="state-signup">State</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="zipcode-signup" class="form-control" />
                  <label class="form-label" for="zipcode-signup">Zipcode</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="phone-signup" class="form-control" />
                  <label class="form-label" for="phone-signup">Phone</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="rx-signup" class="form-control" />
                  <label class="form-label" for="rx-signup">RX</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="dx-signup" class="form-control" />
                  <label class="form-label" for="dx-signup">DX</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="procedure-signup" class="form-control" />
                  <label class="form-label" for="procedure-signup">Procedure</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="insurance_name-signup" class="form-control" />
                  <label class="form-label" for="insurance_name-signup">Insurance Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="allergies-signup" class="form-control" />
                  <label class="form-label" for="allergies-signup">Allergies</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="illness-signup" class="form-control" />
                  <label class="form-label" for="illness-signup">Illness</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="history-signup" class="form-control" />
                  <label class="form-label" for="history-signup">History</label>
                </div>
              </div>
              <!-- Submit button -->
              <div class="d-grid gap-2">
                <button type="submit" id="signupBtn" class="btn btn-warning btn-lg btn-block mb-4">
                  Sign Up
                </button>
                <button type="button" id="moreQuestions">Load more</button>
                <button type="button" class="login-btn btn btn-info btn-lg btn-block mb-4">
                  Login
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https:/via.placeholder.com/500" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->


{{!-- Login!! --}}

<!-- Jumbotron -->
<section class="text-center text-lg-start login">

  <div class="container py-5">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Login</h2>
            <form class="login-form">

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email-login" class="form-control" />
                <label class="form-label" for="email-login">Email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password-login" class="form-control" />
                <label class="form-label" for="password-login">Password</label>
              </div>

              <div class="d-grid gap-2">

                <button type="submit" class="btn btn-info btn-lg btn-block mb-4">
                  Login
                </button>
                <button type="button" class="sign-up-btn btn btn-warning btn-lg btn-block mb-4">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https:/via.placeholder.com/500" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>
<script src="./js/index.js"></script>
