<!-- Form Name -->
<legend>Patient History</legend>

<!-- Multiple Checkboxes -->
<form class="family-history">
  <div class="form-group">
    <label class="col-md-4 control-label" for="family_history">Do you have a family history of any of the following
      illnesses?</label>
    <div class="col-md-4">
      <div class="checkbox">
        <label for="family_history-0">
          <input type="checkbox" name="family_history" id="asthma" value="Asthma">
          Asthma
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-1">
          <input type="checkbox" name="family_history" id="cancer" value="Cancer">
          Cancer
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-2">
          <input type="checkbox" name="cardiac_disease" id="cardiac_disease" value="Cardiac disease">
          Cardiac disease
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-3">
          <input type="checkbox" name="diabetes" id="diabetes" value="Diabetes">
          Diabetes
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-4">
          <input type="checkbox" name="hypertension" id="hypertension" value="Hypertension">
          Hypertension
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-5">
          <input type="checkbox" name="psychiatric" id="psychiatric" value="Psychiatric disorder">
          Psychiatric disorder
        </label>
      </div>
      <div class="checkbox">
        <label for="family_history-6">
          <input type="checkbox" name="epilepsy" id="epilepsy" value="Epilepsy">
          Epilepsy
        </label>
      </div>
    </div>
  </div>
</form>







{{!--
<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="drug_use">Do you have a history of recreational drug use?</label>
  <div class="col-md-4">
    <div class="radio">
      <label for="drug_use-0">
        <input type="radio" name="drug_use" id="drug_use-0" value="true" checked="checked">
        yes
      </label>
    </div>
    <div class="radio">
      <label for="drug_use-1">
        <input type="radio" name="drug_use" id="drug_use-1" value="false">
        no
      </label>
    </div>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="drug_use_type">if yes, please select the drugs you recreationally
    use</label>
  <div class="col-md-4">
    <div class="checkbox">
      <label for="drug_use_type-0">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-0" value="Ayahuasca">
        Ayahuasca
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-1">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-1" value="Cannabis (Marijuana/Pot/Weed)">
        Cannabis (Marijuana/Pot/Weed)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-2">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-2"
          value="Central Nervous System Depressants (Benzos)">
        Central Nervous System Depressants (Benzos)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-3">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-3" value="Cocaine (Coke/Crack)">
        Cocaine (Coke/Crack)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-4">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-4" value="DMT">
        DMT
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-5">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-5" value="GHB">
        GHB
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-6">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-6" value="Hallucinogens">
        Hallucinogens
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-7">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-7" value="Heroin">
        Heroin
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-8">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-8" value="Inhalants">
        Inhalants
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-9">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-9" value="Ketamine">
        Ketamine
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-10">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-10" value="Khat">
        Khat
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-11">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-11" value="Kratom">
        Kratom
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-12">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-12" value="LSD (Acid)">
        LSD (Acid)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-13">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-13" value="MDMA (Ecstasy/Molly)">
        MDMA (Ecstasy/Molly)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-14">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-14" value="Mescaline (Peyote)">
        Mescaline (Peyote)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-15">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-15" value="Methamphetamine (Crystal/Meth)">
        Methamphetamine (Crystal/Meth)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-16">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-16"
          value="Over-the-Counter Medicines—Dextromethorphan (DXM)">
        Over-the-Counter Medicines—Dextromethorphan (DXM)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-17">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-17" value="Over-the-Counter Medicines—Loperamide">
        Over-the-Counter Medicines—Loperamide
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-18">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-18" value="PCP (Angel Dust)">
        PCP (Angel Dust)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-19">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-19" value="Prescription Opioids (Oxy/Percs)">
        Prescription Opioids (Oxy/Percs)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-20">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-20" value="Prescription Stimulants (Speed)">
        Prescription Stimulants (Speed)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-21">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-21" value="Psilocybin (Magic Mushrooms/Shrooms)">
        Psilocybin (Magic Mushrooms/Shrooms)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-22">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-22" value="Rohypnol® (Flunitrazepam/Roofies)">
        Rohypnol® (Flunitrazepam/Roofies)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-23">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-23" value="Salvia">
        Salvia
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-24">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-24" value="Steroids (Anabolic)">
        Steroids (Anabolic)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-25">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-25" value="Synthetic Cannabinoids (K2/Spice)">
        Synthetic Cannabinoids (K2/Spice)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-26">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-26"
          value="Synthetic Cathinones (Bath Salts/Flakka)">
        Synthetic Cathinones (Bath Salts/Flakka)
      </label>
    </div>
    <div class="checkbox">
      <label for="drug_use_type-27">
        <input type="checkbox" name="drug_use_type" id="drug_use_type-27" value="Tobacco/Nicotine and Vaping">
        Tobacco/Nicotine and Vaping
      </label>
    </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tobacco">Tobacco Use</label>
  <div class="col-md-4">
    <div class="radio">
      <label for="tobacco-0">
        <input type="radio" name="tobacco" id="tobacco-0" value="true" checked="checked">
        yes
      </label>
    </div>
    <div class="radio">
      <label for="tobacco-1">
        <input type="radio" name="tobacco" id="tobacco-1" value="false">
        no
      </label>
    </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="alcohol">Please select the frequency of your alcohol
    consumption</label>
  <div class="col-md-4">
    <div class="radio">
      <label for="alcohol-0">
        <input type="radio" name="alcohol" id="alcohol-0" value="Daily" checked="checked">
        Daily
      </label>
    </div>
    <div class="radio">
      <label for="alcohol-1">
        <input type="radio" name="alcohol" id="alcohol-1" value="Weekly">
        Weekly
      </label>
    </div>
    <div class="radio">
      <label for="alcohol-2">
        <input type="radio" name="alcohol" id="alcohol-2" value="Monthly">
        Monthly
      </label>
    </div>
    <div class="radio">
      <label for="alcohol-3">
        <input type="radio" name="alcohol" id="alcohol-3" value="Occasionally">
        Occasionally
      </label>
    </div>
    <div class="radio">
      <label for="alcohol-4">
        <input type="radio" name="alcohol" id="alcohol-4" value="Never">
        Never
      </label>
    </div>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group ">
  <label class="col-md-4 control-label" for="complaints">Please select the primary symptoms you are currently
    feeling</label>
  <div class="col-md-4">
    <div class="checkbox">
      <label for="complaints-0">
        <input type="checkbox" name="complaints" id="complaints-0" value="Asthma">
        Asthma
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-1">
        <input type="checkbox" name="complaints" id="complaints-1" value="Cancer">
        Cancer
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-2">
        <input type="checkbox" name="complaints" id="complaints-2" value="Cardiac disease">
        Cardiac disease
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-3">
        <input type="checkbox" name="complaints" id="complaints-3" value="Diabetes">
        Diabetes
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-4">
        <input type="checkbox" name="complaints" id="complaints-4" value="Hypertension">
        Hypertension
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-5">
        <input type="checkbox" name="complaints" id="complaints-5" value="Psychiatric disorder">
        Psychiatric disorder
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-6">
        <input type="checkbox" name="complaints" id="complaints-6" value="Epilepsy">
        Epilepsy
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-7">
        <input type="checkbox" name="complaints" id="complaints-7" value="Fever/Chills">
        Fever/Chills
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-8">
        <input type="checkbox" name="complaints" id="complaints-8" value="Unexplained change in weight">
        Unexplained change in weight
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-9">
        <input type="checkbox" name="complaints" id="complaints-9" value="Fatigue/Malaise/Generalized weakness">
        Fatigue/Malaise/Generalized weakness
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-10">
        <input type="checkbox" name="complaints" id="complaints-10" value="Headaches/Migraines">
        Headaches/Migraines
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-11">
        <input type="checkbox" name="complaints" id="complaints-11" value="DizzinessSinus Pain/Pressure/Discharge">
        DizzinessSinus Pain/Pressure/Discharge
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-12">
        <input type="checkbox" name="complaints" id="complaints-12" value="Excessive snoring">
        Excessive snoring
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-13">
        <input type="checkbox" name="complaints" id="complaints-13" value="Wheezing/Chronic Cough">
        Wheezing/Chronic Cough
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-14">
        <input type="checkbox" name="complaints" id="complaints-14" value="Shortness of breath">
        Shortness of breath
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-15">
        <input type="checkbox" name="complaints" id="complaints-15" value="Chest pain, pressure or tightness">
        Chest pain, pressure or tightness
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-16">
        <input type="checkbox" name="complaints" id="complaints-16"
          value="Swelling of hands/feet/anklesNausea/Vomiting">
        Swelling of hands/feet/anklesNausea/Vomiting
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-17">
        <input type="checkbox" name="complaints" id="abdominalpain" value="Abdominal pain">
        Abdominal pain
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-18">
        <input type="checkbox" name="complaints" id="heartburn" value="Heartburn">
        Heartburn
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-19">
        <input type="checkbox" name="complaints" id="diarrhea" value="Constipation or diarrhea">
        Constipation or diarrhea
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-20">
        <input type="checkbox" name="complaints" id="stiffness" value="Stiffness/Pain in joints/muscles">
        Stiffness/Pain in joints/muscles
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-21">
        <input type="checkbox" name="complaints" id="joint" value="Joint swelling">
        Joint swelling
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-22">
        <input type="checkbox" name="complaints" id="complaints-22" value="Bleeding/Easy bruising">
        Bleeding/Easy bruising
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-23">
        <input type="checkbox" name="complaints" id="complaints-23" value="Excessive urination">
        Excessive urination
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-24">
        <input type="checkbox" name="complaints" id="complaints-24" value="Excessive thirst/hunger">
        Excessive thirst/hunger
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-25">
        <input type="checkbox" name="complaints" id="complaints-25" value="Hot flashes">
        Hot flashes
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-26">
        <input type="checkbox" name="complaints" id="complaints-26" value="Painful/Bloody urination">
        Painful/Bloody urination
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-27">
        <input type="checkbox" name="complaints" id="complaints-27" value="Difficulty urinating/Night-time urination">
        Difficulty urinating/Night-time urination
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-28">
        <input type="checkbox" name="complaints" id="complaints-28" value="Urinary incontinence (leakage)">
        Urinary incontinence (leakage)
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-29">
        <input type="checkbox" name="complaints" id="complaints-29"
          value="Sexual Difficulties/Painful intercourseRashAnxiety/Panic Attacks">
        Sexual Difficulties/Painful intercourseRashAnxiety/Panic Attacks
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-30">
        <input type="checkbox" name="complaints" id="complaints-30" value="Concentration Difficulty">
        Concentration Difficulty
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-31">
        <input type="checkbox" name="complaints" id="complaints-31"
          value="Feelings of GuiltInsomnia/Problems with Sleep">
        Feelings of GuiltInsomnia/Problems with Sleep
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-32">
        <input type="checkbox" name="complaints" id="complaints-32" value="Loss of energy">
        Loss of energy
      </label>
    </div>
    <div class="checkbox">
      <label for="complaints-33">
        <input type="checkbox" name="complaints" id="complaints-33" value="Thoughts of harming self or others">
        Thoughts of harming self or others
      </label>
    </div>
  </div>
</div> --}}

</form>