  /* /* .cascading-right {
    margin-right: -50px;
  } */

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  } 

.register {
  display: none;
}

.alert {
  display: none;
}

#secondaryQuestions {
  display: none;
}

#signupBtn {
  display: none;
}

#chiron {
  margin: 0;
}