{{!-- HOME PAGE AND NAVIGATION LANDING PAGE --}}


<html>

<head>
  <meta charset="UTF-8">
  <title>Physician Patient Portal</title>
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  {{!--
  <link rel="stylesheet" href="/css/bootstrap.min.css"> --}}
</head>


<body>

  <header>
    {{!-- TODO: HEADER --}}
  </header>

  <nav>
    {{!-- TODO: NAVIGATION --}}
  </nav>

  {{{ body }}}

  {{!-- TODO: CONTACT FOOTER --}}


  {{!-- TODO: js file linked --}}
  
  {{!-- TODO: bootstrap && bootswatch functionality linked --}}
</body>

</html>